/**
* Base styles
*
* 
*/

body {
  font-family: var(--font-family);
  font-size: var(--font-size-smaller);
  font-weight: var(--font-weight-xlight);
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
}

a {
  color: var(--color-black);
  text-decoration: none;

  &:hover {
    font-style: italic;
  }
}

h1, h2 {
  font-weight: var(--font-weight-medium);
}

h3 {
  font-weight: var(--font-weight-light);
}

p {
  font-weight: var(--font-weight-xlight);
}

.Chrome {
  padding: 4em;
  text-align: center;
}
