/**
 * Theme Configuration
 *
 */

// Colors

$colorBlueLighter:  #70d2f6;
$colorBlueLight:    #45c4f3;
$colorBlue:         #00aeef;
$colorBlueDark:     #009cde;
$colorBlueDarker:   #0079c1;

$colorGreyLightest: #e9e9e9;
$colorGreyLighter:  #f7f7f7;
$colorGreyLight:    #c5c5c5;
$colorGrey:         #4d4d4d;
$colorGreyDark:     #333;
$colorGreyDarker:   #111;

$colorBlack:        #000;
$colorWhite:        #fff;

// Branding

$colorPink:         #F984EE;

$color1: $colorGrey; // Primary colour
$color2: $colorBlue; // Secondary colour
$color3: $colorWhite; // Tertiary colour

// Global

$colorBody:     $colorWhite; // Body background colour
$colorHeading:  $colorWhite; // Heading colour
$colorText:     $colorGrey; // Text colour


// Typography


$fontText:          "cooper-black-std", "Helvetica Neue", Helvetica Neue, Arial, sans-serif;
$fontHeadingSmall:  "cooper-black-std",'Helvetica Neue', Arial, sans-serif;
$fontHeading:       "cooper-black-std", 'Helvetica Neue', Arial, sans-serif;
$fontHeavy:         "cooper-black-std", 'Helvetica Neue', Arial, sans-serif;
$fontMono:          'Ubuntu Mono', monospace;



// Font Families

// Font size scales
$fontsizeSmallest:      12px; 
$fontsizeSmaller:       14px; // h1 mobile
$fontsizeSmall:         16px; // small, carousel link
$fontsize:              18px; // p, label, carousel subtitle
$fontsizeLarge:         20px; // p.lead, carousel title
$fontsizeLarger:        30px; // h2
$fontsizeLargest:       50px; // h1

// Iconography

$iconsize: 18px;


// General

$spc: 20px; // Spacing variable user throughout
$rds: 3px; // Radius value


// Grid System

$col: 12; // Number of columns on the grid
$gut: $spc; // Gutter pixel value



// Depth

$depth-1: 100;
$depth-2: 200;
$depth-3: 300;
$depth-4: 400;



// Responsive Breakpoints

$scrDeskL: 1280px;
$scrDeskS: 960px;
$scrTablL: 768px;
$scrTablS: 600px;
$scrMoblL: 480px;
$scrMoblS: 320px;



// Core Matter Colours

$c0: #000;
$c1: #111;
$c2: #222;
$c3: #333;
$c8: #888;
$ca: #aaa;
$cc: #ccc;
$cd: #ddd;
$ce: #eee;
$cf: #fff;



$fsz: 1.6; // REM measure. 1.0rem = 10px; Change the root value of pixrem's postcss module on GruntFile.js to this value multiplied by 10.
$lh: $fsz; // Line Height