/**
 * Footer
 *
 * PayPal's footer styles
 */

 .footer {
    margin: 0 auto;
  
    /* Matter overrides */
    a[target="_blank"] {
      background-image: none;
    }

    button {
      border: 0 none transparent !important;
      box-shadow: 0 0 0;
    }
    
    @media screen and (min-width: $scrDeskS) {
        max-width: 1160px;
    }
    

    /* PayPal's styles */
    .container {
      max-width: 1190px;
      width: 100%; }

    .container-fluid {
      padding-left: 0;
      padding-right: 0; }

    .text-center {
      text-align: center; }

    .row {
      margin-left: 0px;
      margin-right: 0px; }

    p {
      color: #808080;
      font-size: 1.42em;
      line-height: 24px;
      margin-bottom: 24px;
      text-align: center; }

    .bg-image {
      background-image: url("../images/temp-image.jpg");
      background-position: center top;
      background-repeat: no-repeat;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 530px;
      background-size: cover; }

    h1 {
      font-family: Helvetica, Arial, sans-serif;
      color: #fff;
      font-size: 7em;
      font-weight: normal;
      max-width: 980px;
      margin: auto;
      line-height: 115px; }

    h2 {
      color: #009cde;
      font-weight: normal;
      font-size: 32px;
      margin: 0px; }

    .bg-image p {
      font-family: Helvetica, Arial, sans-serif;
      color: #fff;
      font-size: 2.643em;
      margin: auto;
      text-align: center;
      max-width: 980px;
      line-height: 115px; }

    .w980 {
      max-width: 980px;
      width: 100%;
      margin: auto;
      float: none; }

    .w760 {
      max-width: 760px;
      width: 100%;
      margin: auto;
      float: none; }

    .bgf8 {
      background: #f8f8f8;
      padding: 65px 0; }

    .module ul {
      list-style: none;
      text-align: center;
      padding: 0; }

    .module li {
      margin-bottom: 10px; }

    .module-header {
      font-size: 2.5em;
      color: #434343; }

    .module-fact {
      color: #808080;
      font-size: 18px;
      line-height: 28px; }

    .spacer {
      margin-bottom: 50px; }

    .box-padding {
      padding: 65px 0; }

    .input-text {
      width: 50%;
      height: 65px;
      border: solid 1px #d4d4d4;
      border-radius: 5px;
      padding: 15px;
      text-align: center;
      font-size: 18px;
      color: #808080;
      min-width: 280px; }

    .button {
      width: 50%;
      background-color: #009cde;
      border: none;
      height: 42px;
      color: #fff;
      margin-top: 30px;
      border-radius: 5px;
      font-weight: bold;
      min-width: 280px; }

    .button:hover {
      background: #0c8dc4; }

    .error {
      border: solid 1px red; }

    /* resources/css/base.footer.css */
    .global-footer {
      position: relative;
      padding: 40px 0;
      z-index: 2;
      background: #fff;
      text-align: left;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate(0, 0);
      overflow: hidden; }

    .global-footer ul {
      display: block;
      clear: both;
      margin: 0;
      padding-left: 0; }

    .global-footer ul li {
      display: inline-block;
      list-style-type: none;
      line-height: 26px;
      vertical-align: middle;
      margin: 0 18px 0 0; }

    .global-footer ul li a {
      display: block;
      /*margin: 0 26px 0 0;*/
      padding: 9px 0;
      font-weight: bold;
      text-decoration: none; }

    .global-footer ul li a:hover {
      text-decoration: underline; }

    .footer-main {
      border-bottom: 1px solid #e5e5e5; }

    .footer-main li a {
      margin: 0 26px 0 0;
      color: #666; }

    .footer-main li a:hover {
      text-decoration: underline; }

    .global-footer .footer-search {
      float: left; }

    .global-footer .search-icon {
      background-color: transparent;
      background-image: url(https://www.paypalobjects.com/webstatic/mktg/2014design/search_glass_large2x.png);
      background-repeat: no-repeat;
      background-position: left 9px;
      background-size: 14px 14px;
      margin: 5px 5px 0 0;
      display: inline-block;
      overflow: hidden;
      text-indent: -999em;
      width: 30px;
      height: 36px;
      padding: 13px 0 9px;
      vertical-align: middle;
      min-width: 0;
      -webkit-appearance: none;
      -ms-appearance: none;
      appearance: none;
      border: none; }

    .global-footer .search-icon:focus {
      box-shadow: 0 0 0 1px #ccc;
      border-radius: 5px;
      outline: 0; }

    .global-footer .search-form {
      display: inline-block; }

    .search-form input {
      -moz-appearance: none;
      -webkit-appearance: none;
      -ms-appearance: none;
      appearance: none;
      display: none;
      background: transparent;
      border: none;
      font-size: 16px;
      border-radius: 0;
      vertical-align: middle; }

    .country-selector {
      float: right;
      text-align: right;
      margin-top: 8px; }

    .country-selector .language {
      font-size: 13px;
      font-weight: normal;
      line-height: 13px;
      padding: 1px 6px 2px 0;
      vertical-align: middle;
      border-right: 1px solid #ddd;
      margin: 0 4px 0 2px;
      display: inline-block; }

    .footer-secondary, .footer-tertiary {
      margin-top: 12px;
      display: block; }

    .footer-secondary {
      float: left; }

    ul.footer-secondary li a {
      font-weight: normal;
      color: #666; }

    .country-selector .country {
      display: inline-block;
      overflow: hidden;
      width: 32px;
      height: 24px;
      padding: 0;
      margin: 0;
      vertical-align: middle;
      text-indent: -999em;
      text-align: left;
      background: transparent url("https://www.paypalobjects.com/webstatic/mktg/icons/sprite_countries_flag4.png") 5px 100px no-repeat; }

    .country-selector .unitedkingdom, .country-selector .GB {
      background-position: 5px -4304px; }

    .global-footer .footer-secondary li a, .global-footer .footer-tertiary li a, #footer-copyright {
      font-weight: 400;
      font-size: 12px;
      padding: 0;
      color: #666; }

    .global-footer .footer-tertiary {
      float: right;
      clear: none; }

    #footer-legal a {
      margin-right: 0; }

    /* footer-notes */
    .footer-notes {
      font-size: 11px;
      font-size: 0.8rem;
      clear: both;
      padding-top: 20px; }

    .footer-notes a {
      font-size: 11px;
      font-size: 0.8rem; }

    @media (max-width: 992px) {
      h1 {
        font-size: 5.2em;
        line-height: 80px;
        padding: 60px 0 10px; } }

    @media (max-width: 736px) {
      h1 {
        font-size: 2.2em;
        line-height: 35px;
        padding: 60px 0 10px; }
      .bg-image p {
        font-size: 1.5em;
        line-height: 35px;
        padding: 10px 0 20px; }
      .bg-image {
        background-size: cover;
        height: auto;
        min-height: 150px; }
      .bgf8 {
        padding: 20px 0; }
      p {
        font-size: 1.2em;
        line-height: 22px; }
      .spacer {
        margin-bottom: 0; }
      .module-fact {
        font-size: 16px;
        line-height: 22px; }
      .box-padding {
        padding: 25px 0; }
      .footer-secondary {
        float: left; }
      .global-footer .footer-secondary li a, .global-footer .footer-tertiary li a, #footer-copyright {
        font-weight: 400;
        font-size: 12px;
        padding: 0;
        color: #666; }
      .global-footer .footer-tertiary {
        float: right;
        clear: none; }
      #footer-legal a {
        margin-right: 0; }
      /* footer-notes */
      .footer-notes {
        font-size: 11px;
        font-size: 0.8rem;
        clear: both;
        padding-top: 20px; }
      .footer-notes a {
        font-size: 11px;
        font-size: 0.8rem; }
      .footer-notes {
        padding-left: 3.75%;
        padding-right: 3.75%; }
      /* Fat.global-footer */
      #fatfooter-container .span3 {
        width: 22%; }
      #fatfooter-container .sideKickHeadline {
        padding: 30px 0 0; }
      /* Tablet version */
      .footer-tertiary {
        float: none;
        clear: both; }
      /* Mobile version */
      .global-footer {
        padding: 0;
        margin-top: 25px; }
      .global-footer ul li {
        padding-left: 3.75%; }
      .global-footer ul.footer-main li {
        display: block;
        border-top: 1px solid #f2f2f2; }
      .global-footer ul.footer-main li a {
        display: block; }
      .global-footer ul.footer-main .country-selector {
        text-align: left;
        overflow: auto; }
      .global-footer ul.footer-main .country-selector .language {
        display: inline-block;
        border-left: 1px solid #ddd;
        border-right: none;
        padding: 1px 0 2px 6px;
        line-height: 14px; }
      .global-footer ul.footer-main .country-selector .country {
        float: left;
        margin: 4px 6px 0 0; }
      .global-footer .footer-search {
        float: none; }
      .global-footer .search-form input[type="search"] {
        display: inline-block; }
      .global-footer ul li.footer-search a {
        display: inline-block; }
      .global-footer ul.footer-main li .search-icon {
        width: 16px;
        margin: 2px 0 0;
        padding: 10px 0; }
      .global-footer .search-form {
        display: inline-block; }
      .global-footer .footer-secondary,
      .global-footer .footer-tertiary {
        padding-left: 3.75%;
        padding-right: 3.75%;
        margin-top: 0;
        clear: both; }
      .global-footer .footer-secondary, .global-footer .footer-tertiary {
        padding-left: 3.75%;
        padding-right: 3.75%; }
      .global-footer .footer-secondary li,
      .global-footer .footer-secondary li a,
      .global-footer .footer-tertiary li,
      .global-footer .footer-tertiary li a {
        padding-left: 0;
        margin-right: 0; }
      .global-footer .footer-secondary li a {
        margin-right: 9px;
        margin-bottom: 6px; }
      .global-footer .country-selector {
        float: none;
        margin-top: 0;
        margin-left: -4px;
        padding-bottom: 10px;
        padding-top: 10px; }
      .global-footer .language {
        display: none; }
      .footer-tertiary {
        float: none;
        clear: both; }
      .global-footer #footer-copyright,
      .footer-tertiary li {
        margin-right: 12px; }
      .no-pad {
        padding: 0; }
      .mobhide {
        display: none; } }
}