/**
* Variables
*
* These are global colour, font and media queries properties
*/


:root {

  @css {

    /**
     * Media Queries
     */

    @custom-media --md-viewport (min-width: 40em);
    @custom-media --lg-viewport (min-width: 60em);
    @custom-media --xlg-viewport (min-width: 100em);

  }

  /**
   * Colors
   */

  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);

  --colorBlack:        #000;
  --colorWhite:        #fff;

  --colorPink:         #F984EE;


  /**
   * Fonts
   */

  --font-family: "cooper-black-std", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  --fontText:          "cooper-black-std", "Helvetica Neue", Helvetica Neue, Arial, sans-serif;
  --fontHeadingSmall:  "cooper-black-std",'Helvetica Neue', Arial, sans-serif;
  --fontHeading:       "cooper-black-std", 'Helvetica Neue', Arial, sans-serif;
  --fontHeavy:         "cooper-black-std", 'Helvetica Neue', Arial, sans-serif;
  --fontMono:          'Ubuntu Mono', monospace;


  --font-weight-xlight: 200;
  --font-weight-light: 300;
  --font-weight-medium: 400;
  
  --font-size-smallest: 12px;
  --font-size-smaller: 16px;
  --font-size-small: 18px;
  --font-size: 24px;
  --font-size-large: 32px;
  --font-size-larger: 42px;
  --font-size-largest: 96px;


  /**
   * Depth
   */

  --depth-one:        100;
  --depth-two:        200;
  --depth-three:      300;

}